{% extends "base.html" %}
{% block content %}
<h1 id="homepage_header">Final project</h1>
<h2>Statistics</h2>

<!-- Table -->
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Statistic</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in stats.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<img src="{{ url_for('bp.image') }}" class="rounded mx-auto d-block" alt="Plot with analysis">

{% endblock content %}